version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: athar-mongodb
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${SPRING_DATA_MONGODB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${SPRING_DATA_MONGODB_PASSWORD}
    ports:
      - "27017:27017"
  backend:
    build: .
    container_name: athar-backend
    ports:
      - "${SERVER_PORT}:8080"
    depends_on:
      - mongodb
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}

volumes:
  mongo_data:
